<form [formGroup]="form">

  <mat-error *ngIf="form.errors"> {{ form.errors | json }}</mat-error>


  <section>
    <div class="action-row">

      <mat-form-field appearance="fill" style="width: 250px;">
        <mat-label>Plugin-Name</mat-label>
        <mat-select [formControl]="selectedPlugin">
          <mat-option *ngFor="let it of selectList$ | async " [value]="it.value">{{ it.text }}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </section>

  <mat-divider></mat-divider>

  <div style="height: 5px;">
    <mat-progress-bar *ngIf="!!(isLoading$ | async)" style="height: 5px;" mode="indeterminate"></mat-progress-bar>
  </div>

  <p>{{ form.value.description }}</p>

  <mat-card>
    <mat-card-content>
      <h2>Policy Objective Details</h2>
      <table>
        <tr>
          <td><strong>Description:</strong></td>
          <td>{{ form.value.objective?.description }}</td>
        </tr>
        <tr>
          <td><strong>Is Objective Parent:</strong></td>
          <td>{{ form.value.objective?.isObjectiveParent ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
          <td><strong>Is Rule Parent:</strong></td>
          <td>{{ form.value.objective?.isRuleParent ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
          <td><strong>Object Type:</strong></td>
          <td>{{ form.value.objective?.objectType }}</td>
        </tr>
        <tr>
          <td><strong>Origin:</strong></td>
          <td>{{ form.value.objective?.origin }}</td>
        </tr>
      </table>
      <h3>Parameters:</h3>
      <table class="parameters">
        <tr>
          <th>Description</th>
          <th>Value</th>
        </tr>
        <tr *ngFor="let parameter of form.value.objective?.parameters; let i = index">
          <td>{{ parameter?.description }}</td>
          <td><pre>{{ parameter?.value | json }}</pre></td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>


</form>

<!--
  <pre>{{ form.value | json }}</pre>
-->
