<mat-expansion-panel #request_response class="margin-10">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Slot Search Request / Response
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div style="height: 5px;">
    <mat-progress-bar *ngIf="(isLoading$ | async)" style="height: 5px;" mode="indeterminate"></mat-progress-bar>
  </div>

  <pre>{{ (response$ | async | json) }}</pre>

</mat-expansion-panel>

<mat-card class="margin-10">

  <button mat-raised-button [disabled]="!(isLoggedIn$ | async) || (isLoading$ | async)"
    (click)="request_response.open(); doRequest();" color="primary" class="margin-10">
    <mat-icon>model_training</mat-icon> Perform Optimization
  </button>

  using <mat-chip>/api/v1/jobs/actions/re-optimize</mat-chip> Re-Optimization API see

  <a target="_blank" style="margin-top: 15px;"
    href="https://eu.coresystems.net/optimization/api/v1/swagger-ui/#/Re-Optimization/post_api_v1_jobs_actions_re_optimize">
    documentation
  </a>

  <div *ngIf="response$ && (response$ | async)" style="margin-top: 8px; margin-left: 10px;">
    Timing: {{ (response$ | async).time | number }} ms
  </div>

</mat-card>

<mat-expansion-panel class="margin-10">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <strong class="panel-title">🕑&nbsp;&nbsp;When / What</strong>
      <mat-chip class="panel-title-chip">
        {{ (requestPayload$ | async)?.start | date:'dd.MM' }} - {{ (requestPayload$ | async)?.end | date:'dd.MM' }}
      </mat-chip>

      <mat-chip class="panel-title-chip">
        {{ (requestPayload$ | async)?.activityIds.length }} activities
      </mat-chip>
    </mat-panel-title>
    <mat-panel-description></mat-panel-description>
  </mat-expansion-panel-header>
  <optimisation-target (change)="onTimeSpan($event)"></optimisation-target>
</mat-expansion-panel>


<mat-expansion-panel class="margin-10">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <strong class="panel-title">👷&nbsp;&nbsp;Who / People</strong>
      <mat-chip class="panel-title-chip">{{ (requestPayload$ | async)?.resources.personIds.length }} technicians
      </mat-chip>
    </mat-panel-title>
    <mat-panel-description></mat-panel-description>
  </mat-expansion-panel-header>
  <resource-query (change)="onChangePersonIds($event)"></resource-query>
</mat-expansion-panel>


<mat-expansion-panel class="margin-10">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <strong class="panel-title">🤖&nbsp;&nbsp;How / AI-Plugin</strong>
      <mat-chip class="panel-title-chip">{{ (requestPayload$ | async)?.optimizationPlugin }}</mat-chip>
    </mat-panel-title>
    <mat-panel-description></mat-panel-description>
  </mat-expansion-panel-header>
  <plugin-editor (change)="onChangePluginEditor($event)"></plugin-editor>
</mat-expansion-panel>