<form [formGroup]="form">



  <div class="row item" style="margin-left: 30px;">


    <mat-icon style="font-size: 19px;">calendar_today</mat-icon>

    <input matInput type="datetime-local" formControlName="start" placeholder="start date" class="date-edit">

    <span>to </span>

    <input matInput type="datetime-local" formControlName="end" placeholder="end date" class="date-edit">

    <span style="margin-left: 5px;"> that is {{ getDuration(form.value) }}</span>

  </div>

  <mat-error *ngIf="form.errors"> ERROR -> {{ form.errors | json }}
  </mat-error>

  <h2>Found {{ (activityList$ | async).length }} matching activities</h2>

  <div style="padding: 20px;">
    <mat-chip-list style="margin-bottom: 20px;">
      <mat-chip *ngFor="let item of (activityList$ | async)" [removable]="true" (removed)="remove(item)">
        <mat-icon matChipRemove>delete</mat-icon>
        {{ item.id | slice:0:6 }} ({{ item.subject | slice:0:6 }})...
      </mat-chip>
    </mat-chip-list>
  </div>

</form>