<mat-progress-bar *ngIf="!!(progress$ | async) && !(canNotBeBooked$ | async)" mode="determinate"
  [value]="(( 100 / (progress$ | async)?.total) ) * ((progress$ | async)?.current)" style="height: 5px; width: 100%;">
</mat-progress-bar>

<div style="display: flex; margin-top: 5px; margin-bottom: 5px;">

  <button mat-raised-button (click)="book()"
    [disabled]="(disabled$ | async) || (isLoading$ | async) || (canNotBeBooked$ | async)" color="primary">
    <mat-icon>book_online</mat-icon> Book Slot for {{ group.slot.start | date:'d.M.y HH:mm' }} - {{ group.slot.end |
    date:'HH:mm'}} {{ group.items.length }} technician(s) available
  </button>

  <div *ngIf="!!(progress$ | async)" style="display: flex; padding-top: 8px; margin-left: 10px;">
    {{ (progress$ | async)?.message }} {{ (progress$ | async)?.current }}/{{ (progress$ | async)?.total }}
  </div>

</div>