.margin-10 {
  margin: 10px;
}

.error-box {
  width: 100%; 
  border-radius: 10px; 
  background-color: #ab4545; 
  color:#fff; 
  padding: 10px;
}

.panel-title {
  padding-top:5px; 
  margin-right: 10px;
}

.matching-tech {
  display: inline-grid;
  text-align: center; 
  width: 300px; 
  border: 2px solid #c1c1c1;
  border-radius: 10px; 
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;

}

.tech-info {
  margin-bottom: 12px;
  display: flex;
  
  mat-icon {
    margin-right: 10px;
  }

}
.tech-udf-list {
  margin-top: 5px; 
  margin-bottom: 5px;
}

.tech-udf {
  font-size: 13px;
}

.tech-skill-list {
  min-width: 250px;
  min-height: 100px;
  text-align: left;
}

.tech-skill {
  padding: 3px;
  border-radius: 5px;
  margin-right: 3px;
  margin-left: 3px;
  font-size: 9px;
}
