<h2>resources: {{ (resources$ | async)?.length }}</h2>



<div style="display: flex;">
  <div style="width: 30%;">
    <mat-chip-list style="margin-bottom: 20px;">
      <mat-chip *ngFor="let resource of (resources$ | async)" [removable]="true" (removed)="remove(resource)">
        <mat-icon matChipRemove>delete</mat-icon>
        {{ resource.id | slice:0:6 }}... ({{ resource.firstName }} {{ resource.lastName }})
      </mat-chip>
    </mat-chip-list>
  </div>
  <div style="width: 70%;">
    
    <button mat-raised-button (click)="doQuery()" color="primary" class="margin-10">run query</button>
    query-templates:
    <button mat-button (click)="applyTmpl('default')"  class="margin-10">default</button>
    <button mat-button (click)="applyTmpl('skill')"  class="margin-10">by skill</button>
    <button mat-button (click)="applyTmpl('region')"  class="margin-10">by region</button>
    
    
    <div style="height: 5px; margin-top: 15px;">
      <mat-progress-bar *ngIf="(isLoading$ | async)" style="height: 5px;" mode="indeterminate"></mat-progress-bar>
    </div>
    <form [formGroup]="form">
      <ngx-monaco-editor class="monaco-editor" [options]="editorOptions" (onInit)="onEditor($event)"
        formControlName="query" style="min-height: 400px;">
      </ngx-monaco-editor>
    </form>
  </div>
</div>