.margin-10 {
  margin: 10px;
}

.error-box {
  width: 100%; 
  border-radius: 10px; 
  background-color: #ab4545; 
  color:#fff; 
  padding: 10px;
}

.panel-title {
  padding-top:5px; 
  margin-right: 10px;
}

.matching-tech {
  text-align: center; 
  width: 300px; 
  border: 2px solid #c1c1c1;
  border-radius: 10px; 
  padding: 10px;
  margin-left: 10px;
}

.panel-title-chip {

}